NATS_URL=nats://210.109.82.57:4222
NATS_SUBJECT=cs.vision.control.detected

CAMERA_ID=cam01
VIDEO_SOURCE=0
MODEL_PATH=yolov8n.pt
CONF_THRESHOLD=0.5
DEVICE=cuda
OUTPUT_DIR=output
EVENT_COOLDOWN_SECONDS=3
